[submodule "pack/foo/start/asyncomplete-lsp.vim"]
	path = pack/foo/start/asyncomplete-lsp.vim
	url = https://github.com/prabirshrestha/asyncomplete-lsp.vim.git
[submodule "pack/foo/start/asyncomplete.vim"]
	path = pack/foo/start/asyncomplete.vim
	url = https://github.com/prabirshrestha/asyncomplete.vim.git
[submodule "pack/foo/start/cscope_maps.vim"]
	path = pack/foo/start/cscope_maps.vim
	url = https://github.com/vimuxx/cscope_maps.vim.git
[submodule "pack/foo/start/vim-dirdiff"]
	path = pack/foo/start/vim-dirdiff
	url = https://github.com/will133/vim-dirdiff.git
[submodule "pack/foo/start/vim-lsp"]
	path = pack/foo/start/vim-lsp
	url = https://github.com/prabirshrestha/vim-lsp.git
[submodule "pack/foo/start/vim-ollama"]
	path = pack/foo/start/vim-ollama
	url = https://github.com/gergap/vim-ollama.git
[submodule "pack/foo/start/vim-vsnip"]
	path = pack/foo/start/vim-vsnip
	url = https://github.com/hrsh7th/vim-vsnip
[submodule "pack/foo/start/vim-vsnip-integ"]
	path = pack/foo/start/vim-vsnip-integ
	url = https://github.com/hrsh7th/vim-vsnip-integ
